#entity-tools-listing-table .elgg-input-datetime,
#entity-tools-listing-table .elgg-input-dropdown,
#entity-tools-listing-table .elgg-user-picker {
	width: 140px;
	white-space: nowrap;
}

#entity-tools-listing-table td:first-child {
	width: 100%;
}

#entity-tools-listing-table .elgg-user-picker>label,
#entity-tools-listing-table .elgg-user-picker>input[type="checkbox"],
#entity-tools-listing-table .elgg-user-picker-list .elgg-image {
	display: none;
}

#entity-tools-listing-table .elgg-user-picker-list .elgg-image-block {
	padding: 5px 0;
}

#entity-tools-listing-table .elgg-user-picker-list li:first-child,
#entity-tools-listing-table .elgg-user-picker-list > li {
	border-top: none;
	border-bottom: none;
	margin-top: 0;
}