#entity-tools-listing-table {
	
	td:first-child {
		width: 100%;
	}
	
	td > .elgg-field {
		margin-bottom: 0;
	}
	
	.elgg-input-datetime,
	.elgg-input-select,
	.elgg-user-picker {
		width: 200px;
		white-space: nowrap;
	}

	.elgg-entity-picker-list {
		.elgg-image {
			display: none;
		}
		
		li.elgg-item {
			border: none;
			margin-top: 0;
			padding: 0.5rem;
			
			.elgg-body {
				max-width: 175px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}
